body {
    color: grey;
    background-color: #f0f0f5;
    font-family: Helvetica, sans-serif;
    animation-name: transition;
    animation-duration: 2s;
  }
  
  h1 {
    font-size: 2em;
    animation-name: font_size;
    animation-duration: 2s;
  }
  
  a { color: inherit; }
  
  #container {
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -18%);
  }
  #logo {
    text-align: center;
  }
  
  #avoid_movement {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid grey;
    border-left: 3px solid grey;
    border-top: 3px solid grey;
    border-radius: 20px;
    padding: 10px;
    animation-name: border_radius;
    animation-duration: 2s;
  }
  
  #avoid_movement:hover {
    background-color: lightgrey;
    border: 3px solid grey;
    border-left: 2px solid grey;
    border-top: 2px solid grey;
  }
  .colmn_a {
    width: 10px;
    height: 100px;
    background-color: grey;
    position: relative;
    display: inline-block;
    animation-name: one;
    animation-duration: 2s;
  }
  
  .colmn_b {
    width: 60px;
    height: 15px;
    background-color: grey;
    position: relative;
    display: inline-block;
    animation-name: two;
    animation-duration: 2s;
    transform-origin: right bottom;
    transform: skewY(55deg);
  }
  
  .colmn_c {
    width: 10px;
    height: 100px;
    background-color: grey;
    position: relative;
    display: inline-block;
    animation-name: three;
    animation-duration: 2s;
  }
  
  @keyframes one {
    0%   {background-color:black; left:500px; top:500px;}
    50%  {background-color:black; left:0px; top:0px;}
    100% {background-color: grey; right:0px; top:0px;}
  }
  
  @keyframes two {
    0%   {background-color:black; left:500px; top:0px;}
    50%  {background-color:black; left:0px; top:0px; padding: 100px 0;}
    100% {background-color: grey; left:0px; top:0px;}
  }
  
  @keyframes three {
    0%   {background-color:black; right:500px; top:500px;}
    50%  {background-color:black; right:0px; top:0px;}
    100% {background-color: grey; right:0px; top:0px;}
  }
  
  @keyframes transition {
    0%   {color:black;}
    50%  {color:black;}
    100% {color: grey;}
  }
  
  @keyframes border_radius {
    0%   {border-color: black; border-radius: 10px;}
    50% {border-color: black; border-radius: 50px;}
    100% {border-color: grey; border-radius: 20px;}
  }
  
  @keyframes font_size {
    0%   {font-size: 1em;}
    50% {font-size: 2.5em;}
    100% {font-size: 2em;}
  }
  